{% extends 'base.html.twig' %}

{% block title %}{{ 'home'|trans({}, 'menu') }}{% endblock %}

{% block body %}

{{ 'welcome'|trans({}, 'home') }}
{% if app.user %}
    {{ app.user.username }}
{% endif %}

<br/><br/>

{% if app.user is null %}
    <form method="post" action="{{ path('app_login') }}">
        {% if error %}
            <div class="alert alert-danger">{{ error|trans({}, 'auth') }}</div>
            <br/>
        {% endif %}

        <table>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <tr>
                <th><label for="email">{{ 'email'|trans({}, 'user') }}</label></th>
                <td><input type="email" name="_username" id="email" value="{{ last_username }}"></td>
            </tr>
            <tr>
                <th><label for="password">{{ 'password'|trans({}, 'user') }}</label></th>
                <td><input type="password" name="_password" id="password"></td>
            </tr>
            <tr>
                <th colspan="2"><button type="submit">{{ 'signin'|trans({}, 'actions') }}</button></th>
            </tr>
        </table>
    </form>
{% endif %}
{% endblock %}
