{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.image) }}
    {% if article.image is not null %}
        <img src="{{ asset(article.fullPathImage) }}" alt="Image de l'article">
    {% endif %}
    
    <br/><br/>
    <button type="submit" class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
