{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'list'|trans({}, 'article') }}{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_article_new') }}">{{ 'add'|trans({}, 'actions') }}</a>
        <br/><br/>
    {% endif %}

    {% if articles|length > 0 %}
        <div>{{ 'num_of_articles'|trans({ count: articles|length }, 'article') }}</div>
        <br/>
        {{ include('article/_paginate.html.twig') }}
        <br/><br/>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'name'|trans({}, 'article') }}</th>
                    <th>{{ 'description'|trans({}, 'article') }}</th>
                    <th>{{ 'price'|trans({}, 'article') }}</th>
                    <th>{{ 'image'|trans({}, 'article') }}</th>
                    <th>{{ 'view'|trans({}, 'actions') }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ 'edit'|trans({}, 'actions') }}</th>
                        <th>{{ 'delete'|trans({}, 'actions') }}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.description|u.truncate(30, '...') }}</td>
                    <td>{{ article.price|format_currency('EUR') }}</td>
                    <td><img src="{{ asset('uploads/articles/' ~ article.image) }}"></td>
                    <td><a href="{{ path('app_article_show', {'id': article.id}) }}"><img width="48" height="48" src="https://img.icons8.com/color/48/search--v1.png" alt="view"/></a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('app_article_edit', {'id': article.id}) }}"><img width="48" height="48" src="https://img.icons8.com/color-glass/48/pencil.png" alt="form"/></a></td>
                        <td>{{ include('article/_delete_form.html.twig') }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ include('article/_paginate.html.twig') }}
    {% else %}
        <div>{{ 'no_article'|trans({}, 'article') }}</div>
    {% endif %}
{% endblock %}
