{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'view'|trans({}, 'article') }}{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'name'|trans({}, 'article') }}</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>{{ 'description'|trans({}, 'article') }}</th>
                <td>{{ article.description|nl2br }}</td>
            </tr>
            <tr>
                <th>{{ 'price_HT'|trans({}, 'article') }}</th>
                <td>{{ article.priceHT|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <th>{{ 'price_TTC'|trans({}, 'article') }}</th>
                <td>{{ article.priceTTC|format_currency('EUR') }}</td>
            </tr>
            <tr>
                <th>{{ 'image'|trans({}, 'article') }}</th>
                <td><img src="{{ asset(article.fullPathImage) }}"></td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
    <a href="{{ path('app_article_list') }}">{{ 'back'|trans({}, 'actions') }}</a>
{% endblock %}
